<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Homework</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<h1 th:text="'Hello, ' + ${name} + '!'" />
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-6" >
      <table class="table">
        <thead>
        <tr>
          <th scope="col">DATE</th>
          <th scope="col">TUTOR</th>
          <th scope="col">TUTEE</th>
          <th scope="col">CONTENT</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="homework : ${homeworks}">
          <td th:text="${homework.date}">Onions</td>
          <td th:text="${homework.tutor}">Onions</td>
          <td th:text="${homework.tutee}">2.41</td>
          <td th:text="${homework.content}">yes</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

</body>
</html>